.random{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    margin-top: 15vw;
}
#number{
    display: block;
    text-align: center;
    font-size: 50px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #73BA9B;
}
#btn{
    font-size:20px;
    background-color:#BA2D0B;
    color:#01110A;
    border:#32161F 3px solid;
    touch-action: manipulation;
}
input{
    border: #32161F 3px solid;}
    outline: none;
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 40px;
#lbl{
    font-size: 22px;
}
